####SUBDOMAINS_HEADER####
RewriteEngine on
#RULE:ticketswap,robertspier.nl,/ts/
#RULE:www.ticketswap,robertspier.nl,/ts/
#RULE:artaphine,robertspier.nl,/artaphine/
#RULE:www.artaphine,robertspier.nl,/artaphine/
RewriteCond %{HTTP_HOST}    ^ticketswap.robertspier.nl$
RewriteCond %{REQUEST_URI}  !^/ts/
RewriteRule (.*)    		/ts//$1 [last]
RewriteCond %{HTTP_HOST}    ^www.ticketswap.robertspier.nl$
RewriteCond %{REQUEST_URI}  !^/ts/
RewriteRule (.*)    		/ts//$1 [last]
RewriteCond %{HTTP_HOST}    ^artaphine.robertspier.nl$
RewriteCond %{REQUEST_URI}  !^/artaphine/
RewriteRule (.*)    		/artaphine//$1 [last]
RewriteCond %{HTTP_HOST}    ^www.artaphine.robertspier.nl$
RewriteCond %{REQUEST_URI}  !^/artaphine/
RewriteRule (.*)    		/artaphine//$1 [last]
####SUBDOMAINS_TAILER####

####CUSTOM_HEADER####
#NL: Place your custom rules here
#EN: Plaats je eigen regels hier
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# Afschermen wpconfig.php
<files wp-config.php>
Order deny,allow
deny from all
</files>
####CUSTOM_TAILER####

####ERROR_HEADER####
####ERROR_TAILER####

