@charset "utf-8";

/* De wrapper, deze omcirkelt de hele website */
body {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	background-color: #82af38;
}

#wrapper {
	background-color: #82af38;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
/* De headerelementen */
header {
	background-color: #82af38;
	height: 10%;
	width: 100%;
	text-align: center;
	padding-top: 1%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 45px;
	margin-top: 0px;
	color: #FFF;
}
/* Deze zorgt ervoor dat je kan scrollen in het middelste gedeelte */
#contentWrapper {
	height: 70%;
	width: 95%;
	background-color: #d7ff95;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border: 1px solid #000;
}
/* De actuele content */
#content {
	height: 100%;
	width: 100%;
	overflow: scroll;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
}
/* De navigatie, deze houdt de iconen onderin in bedwang */
nav {
	height: 20%;
	width: 100%;
	bottom: 0px;
	position: absolute;
}
#logo img {
	margin-top: 16%;
}
#jochem {
	width: 40%;
	float: right;
}
figure {
	height: 100%;
	width: 33%;
	float: left;
	padding: 0px;
	margin: 0px;
	text-align: center;
	padding-top: 5%;
	font-family: Verdana, Geneva, sans-serif;
}
a {
	text-decoration: none;
	font-size: 25pt;
	color: #FFF;
}