@-webkit-keyframes fadeOutRedBorder {
  from {
    border-color: #ff6188; }
  to {
    border-color: #FFFFFF; } }

@keyframes fadeOutRedBorder {
  from {
    border-color: #ff6188; }
  to {
    border-color: #FFFFFF; } }

@-webkit-keyframes fadeOutGreenBorder {
  from {
    border-color: #a9dc76; }
  to {
    border-color: #FFFFFF; } }

@keyframes fadeOutGreenBorder {
  from {
    border-color: #a9dc76; }
  to {
    border-color: #FFFFFF; } }

body {
  margin: 0;
  padding: 0; }

.links line {
  stroke: #999;
  stroke-opacity: 0.6; }

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px; }

text {
  font-family: sans-serif;
  font-size: 10px; }

.tooltip.tooltip {
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #fff; }

input.has-error {
  border: 1px solid #ff6188 !important;
  -webkit-animation: fadeOutRedBorder 3s linear 3s;
          animation: fadeOutRedBorder 3s linear 3s; }

input.has-result {
  border: 1px solid #a9dc76 !important;
  -webkit-animation: fadeOutGreenBorder 3s linear 3s;
          animation: fadeOutGreenBorder 3s linear 3s; }

#searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; }
  #searchbox input::-webkit-input-placeholder {
    color: #EEEEEE; }
  #searchbox input::-moz-placeholder {
    color: #EEEEEE; }
  #searchbox input:-ms-input-placeholder {
    color: #EEEEEE; }
  #searchbox input::-ms-input-placeholder {
    color: #EEEEEE; }
  #searchbox input::placeholder {
    color: #EEEEEE; }
  #searchbox input:focus {
    outline: 0; }

#searchbox2 {
  position: fixed;
  top: 0px;
  right: 0px; }
  #searchbox2 input,
  #searchbox2 button {
    float: left; }

.single {
  display: flex;
  justify-content: center;
  align-items: center; }
  .single #searchbox {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0; }
    .single #searchbox input {
      font-size: 5rem;
      width: 30vw;
      height: 15vh;
      border: 0px;
      text-align: center; }
    .single #searchbox button {
      display: none; }
  .single #searchbox2 {
    display: none; }

